.book-pages {
  height: 400px;
  width: 650px;
  perspective: 960px;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.3);
  border-radius: 2px;
}

.book-page-wrapper {
  color: black;
  height: 100%;
  background: #fafafa;
  background-image: linear-gradient(
    90deg,
    rgba(227, 227, 227, 1) 0%,
    rgba(247, 247, 247, 0) 18%
  );
  display: flex;
}

.book-page {
  width: 50%;
  flex-direction: column;

  &:nth-child(odd) {
    border-right: 2px solid rgba(0, 0, 0, 0.123);
  }

  span {
    font-size: 13px;
  }

  p {
    font-size: 13px;
    font-family: "Cormorant Garamond", serif;
    width: 85%;
    height: 80%;
  }
}

.title-page {
  h4 {
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    font-weight: bolder;
    font-size: 20px;
  }

  h5 {
    font-family: "Times New Roman", Times, serif;
    font-size: 18px;
  }
}

.contents {
  display: block;

  h5 {
    padding-top: 30px;
  }
}

.chapter-header {
  h5,
  h6 {
    font-weight: bold;
    text-align: center;
  }

  h6 {
    padding-bottom: 25px;
    text-decoration: underline;
  }
}

.contents-list {
  list-style-type: none;
  height: 100%;
  width: 100%;
}

.content-item {
  td {
    padding: 3px 0 !important;
    border: none !important;

    &:first-child {
      opacity: 0.7;
    }
  }

  .content-item-chapter {
    width: 15%;
  }

  .content-item-page {
    width: 15%;
    text-align: right;
    padding-right: 25px !important;
  }
}

@media only screen and (max-width: 700px) {
  .book-pages {
    height: 280px;
    width: 95vw;
    max-width: 500px;
    perspective: 600;
  }

  .title-page {
    h4 {
      font-size: 12px;
    }

    h5 {
      font-size: 12px;
    }
  }

  .contents {
    h5 {
      font-size: 14px;
    }
  }

  .content-item {
    td {
      font-size: 11px !important;
    }
  }

  .book-page {
    span {
      font-size: 9px;
    }

    p {
      font-size: 9.5px;
      line-height: 12px;
    }
  }

  .contents-list {
    padding-left: 10px;
  }

  .content-item {
    td {
      font-size: 12px;
      padding: 0 !important;
    }

    .content-item-page {
      padding-right: 10px !important;
    }
  }

  .chapter-header {
    h5 {
      font-size: 15px;
      margin-bottom: 2px;
    }

    h6 {
      font-size: 14px;
      padding-bottom: 15px;
    }
  }
}
