@use "../../master" as global;

.home section {
  @include global.flex-align-center;
}

.features {
  @include global.flex-column;
  text-align: center;

  ul {
    display: flex;
  }

  .card {
    @include global.flex-align-center;
    padding: 5px;
    width: 60%;
    max-width: 350px;
    margin: 15px 25px;
  }

  img {
    height: 150px;
    width: 200px;
  }
}
