.navbar {
  padding-right: 25px !important;
  padding-left: 25px !important;
}

.navbar-brand {
  i {
    font-size: 1.6rem;
  }
}

.navbar-nav .nav-link {
  color: whitesmoke !important;
  font-size: 1.2rem;

  &:hover {
    background-color: rgba(220, 220, 220, 0.24);
    transition: 0.2s ease-in;
  }
}

.dropdown-toggle {
  background-color: transparent !important;
  border-color: transparent !important;

  img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
