.modal-title {
  text-transform: uppercase;
  letter-spacing: 1px;
}

.modal-body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.form-label {
  font-weight: bold;
}
